{% extends bill_base %}
{% load static %}


{% block title %} Sales Bill No : {{ bill.billno }}{% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem;  border-bottom: 1px solid white;">Sale Bill No : {{ bill.billno }}</div>

    <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->
    
    <form action="{% url 'sale-bill' bill.billno %}" method="post" onsubmit="return validateForm()">
    {% csrf_token %}

        <div class="bg">
        
            <br>

            <div id="printArea" class="bg">

                <table class="outer-box inner-box" style="width: 840px; margin-left: auto; margin-right: auto;">
                    <tbody>
                        
                        <tr style="height: 1px;">
                            <td> <p style="text-align: center;">TAX INVOICE - SALE</p> </td>
                        </tr>
                        
                        <tr style="text-align: center;">
                            <td >
                                <span style="font-size: 350%;">M & MB Soft Tech </span> <br>
                                <span style="font-size: 120%; font-weight: bold;">DEALERS IN : Products</span> <br>
                                <span style="font-weight: bold;">REGD ADDRESS :</span> Siddhartha Street<br>New Baneshwor-10, Kathmandu<br>
                                <span style="font-weight: bold;">EMAIL : info@mbsoftech.com.np</span> <br><br>
                            </td><!-- Log on to codeastro.com for more projects -->
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    {% if bill.vat_no %}
                                    <tr>
                                        <td class="inner-box" style="text-align: center; font-weight: bold;" colspan="3">PAN/VAT NO - 619836096</td>
                                    </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="inner-box" style="width: 50%; font-weight: bold;">&nbsp;NAME OF CONSIGNEE / BUYER</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;INVOICE NO</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.billno }}</td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 50%;">&nbsp;{{ bill.name }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DATE</td>
                                        <td class="inner-box" style="width: 25%;">&nbsp;{{ bill.time.date }}</td>
                                    </tr>
                                    <tr><!-- Log on to codeastro.com for more projects -->
                                        <td class="inner-box" style="width: 50%;" rowspan="3">{{ bill.supplier.address|linebreaks }}</td>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;EWAY NO</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="eway" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.eway %}{{ billdetails.eway }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;VEH NO</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="veh" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.veh %}{{ billdetails.veh }}{% endif %}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;DESTINATION</td>
                                        <td class="inner-box align-middle" style="width: 25%;"> <input type="text" name="destination" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.destination %}{{ billdetails.destination }}{% endif %}"> </td>
                                    </tr>
                                    {% if bill.vat_no %}
                                        <tr>
                                            <td class="inner-box" style="font-weight: bold;">&nbsp;PAN/VAT No : {{ bill.vat_no }}</td>
                                            <td class="inner-box" style="width: 25%; font-weight: bold;">&nbsp;PO NO &amp; DATE</td>
                                            <td class="inner-box align-middle" style="width: 25%;">
                                                <input type="text" name="po" class="align-middle" style="border: 0; overflow: hidden;" value="{% if billdetails.po %}{{ billdetails.po }}{% endif %}">
                                            </td>
                                        </tr>
                                    {% endif %}

                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td><!-- Log on to codeastro.com for more projects -->
                            <table class="outer-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">&nbsp;SL</td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold; text-align: center;">GOODS</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">&nbsp;HSN/SAC</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">QTY MTS</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">RATE PMT</td>
                                        <td class="inner-box" style="width: 12%; font-weight: bold; text-align: center;">AMOUNT $</td>
                                        <td class="inner-box" style="width: 05%; font-weight: bold; text-align: center;">PS</td>
                                    </tr>
                                    {% for item in items %}
                                        <tr style="height: auto;">
                                            <td class="inner-box" style="width: 5%;">&nbsp; {{ forloop.counter }}</td>
                                            <td class="inner-box" style="width: 30%;">&nbsp; {{ item.stock.name }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.quantity }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp; {{ item.perprice }}</td>
                                            <td class="inner-box" style="width: 12%;">&nbsp;{{ item.totalprice }}</td>
                                            <td class="inner-box" style="width: 5%;">&nbsp;0</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                            <table class="outer-box inner-box" style="width: 800px; margin-left: auto; margin-right: auto;">
                                <tbody>
                                    <tr>
                                        <td class="inner-box" style="width: 35%; text-align: center;" rowspan="9">
                                            <p> <span style="font-weight: bold;">BANK DETAILS <br> M And MB Soft Tech</span> <br>
                                                BY CASH
                                                {% comment %} Rastriya Banijya Bank <br> AC NO-1234 XXXX TECH XXXX <br> BANK CODE - ABCD 010 0110 <br> NEW BANESHWOR BRANCH <br> PH NO - 9854-010-040</p> {% endcomment %}
                                        </td>
                                        <td class="inner-box" style="width: 30%; font-weight: bold;">&nbsp;VAT @ 13%</td>
                                        <td class="inner-box align-middle" style="width: 30%;">&nbsp; <input type="text" name="cgst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.cgst %}{{ billdetails.cgst }}{% endif %}"></td>
                                    </tr>
                                    <tr style="display: none;">
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;Total Bill:</td>
                                        <td class="inner-box align-middle">&nbsp;
                                            <input type="number" name="bill_total" id="bill-total" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{{ bill_total }}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TDS @ 1.5%</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="tds" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.tds %}{{ billdetails.tds }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;EXERCISE TAX @ 2.5%</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="sgst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.sgst %}{{ billdetails.sgst }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;LOCAL TAX @ 5% </td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="igst" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.igst %}{{ billdetails.igst }}{% endif %}"></td>
                                    </tr>
                                    <tr><!-- Log on to codeastro.com for more projects -->
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;ANY OTHER CHARGES @  </td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="cess" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.cess %}{{ billdetails.cess }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;DISCOUNT @ {{billdetails.discount_percentage}}%</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="discount_amount" id="discount_amount" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden;" value="{% if billdetails.discount_amount %}{{ billdetails.discount_amount }}{% endif %}"></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;TOTAL</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="total" id="total" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden; font-weight: bold;" value="{% if billdetails.total %}{{ billdetails.total }}{% endif %}"  oninput="updateDueAmount()"></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;PAID</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="paid_amount" id="paid_amount" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden; font-weight: bold;" value="{% if billdetails.paid_amount %}{{ billdetails.paid_amount }}{% endif %}" oninput="updateDueAmount()"></td>
                                    </tr>
                                    <tr>
                                        <td class="inner-box" style="font-weight: bold;">&nbsp;DUE</td>
                                        <td class="inner-box align-middle">&nbsp; <input type="number" name="due_amount" id="due_amount" class="align-middle" pattern="[0-9]+\.[0-9]+" style="border: 0; overflow: hidden; font-weight: bold;" value="{% if billdetails.due_amount %}{{ billdetails.due_amount }}{% endif %}"></td>
                                    </tr>
                                </tbody>
                            </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right;">
                                <span style="font-weight: bold;">FOR COMPANY <br><br><br><br> Signature</span>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: center;">
                                <!-- FINAL TEXT -->
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <!-- <br><br> --><!-- Log on to codeastro.com for more projects -->

        </div>

        <br><br>

        <div class="wrapper">
            <button class="center btn btn-primary" onclick="printpage('printArea')">Print</button>
            <button class="center btn btn-success" type="submit">Save Draft</button>
            <a href="{% url 'purchases-list' %}" class=" btn center btn-secondary">Go Back</a>
        </div><!-- Log on to codeastro.com for more projects -->

    </form>

    <script>
        function validateForm() {
            let paidAmountInput = document.getElementById('paid_amount');
            let dueAmountInput = document.getElementById('due_amount');
    
            if (paidAmountInput) {
                let paid_amount = parseFloat(paidAmountInput.value) || 0;
                if (isNaN(paid_amount)) {
                    paid_amount = 0;
                    paidAmountInput.value = paid_amount;
                }
            }
    
            if (dueAmountInput) {
                let due_amount = parseFloat(dueAmountInput.value) || 0;
                if (isNaN(due_amount)) {
                    due_amount = 0;
                    dueAmountInput.value = due_amount;
                }
            }
    
            return true; // Allow form submission to proceed
        }     
    
        function printpage(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    
        function updateDueAmount() {
            var total = parseFloat(document.getElementById('total').value) || 0;
            var paid = parseFloat(document.getElementById('paid_amount').value) || 0;
    
            console.log("Total:", total);
            console.log("Paid:", paid);
    
            var due = total - paid;
            console.log("Due:", due);
            document.getElementById('due_amount').value = due.toFixed(2);
        }


        document.addEventListener('DOMContentLoaded', function() {
            // Ensure all initial values are calculated
            updateDueAmount();
            validateForm();

            var totalAmount = parseFloat(document.getElementById('bill-total').value) || 0;
            var cgstField = document.querySelector('input[name="cgst"]');
            var sgstField = document.querySelector('input[name="sgst"]');
            var igstField = document.querySelector('input[name="igst"]');
            var cessField = document.querySelector('input[name="cess"]');
            var tdsField = document.querySelector('input[name="tds"]');
            var discountField = document.querySelector('input[name="discount_amount"]');

            function calculateField(field, percentage) {
                if (field) {
                    var currentValue = parseFloat(field.value) || 0;
                    if (currentValue !== 0) {
                        field.value = "0.0";
                    } else {
                        var calculatedValue = totalAmount * percentage;
                        field.value = calculatedValue.toFixed(2); // Set value with two decimal places
                    }
                }
            }


            function updateTotalAmount() {
                var cgstValue = parseFloat(cgstField.value) || 0;
                var sgstValue = parseFloat(sgstField.value) || 0; // Default to 0 if empty or invalid
                var igstValue = parseFloat(igstField.value) || 0; // Default to 0 if empty or invalid
                var cessValue = parseFloat(cessField.value) || 0; // Default to 0 if empty or invalid
                var tdsValue = parseFloat(tdsField.value) || 0; // Default to 0 if empty or invalid
                var discountValue = parseFloat(discountField.value) || 0;
                var updatedTotalAmount = totalAmount + cgstValue + sgstValue + igstValue + cessValue - tdsValue - discountValue;
                console.log("updatedTotalAmount:", updatedTotalAmount);
                document.getElementById('total').value = updatedTotalAmount.toFixed(2);
            }

            function attachEvents(field, percentage) {
                if (field) {
                    field.addEventListener('focus', function() {
                        calculateField(field, percentage);
                        updateTotalAmount();
                        updateDueAmount();
                    });
                    field.addEventListener('input', updateTotalAmount);
                    field.addEventListener('input', updateDueAmount);
                }
            }

            attachEvents(cgstField, 0.13);
            attachEvents(sgstField, 0.025);
            attachEvents(igstField, 0.05);
            attachEvents(cessField, 0.0); // Assuming 'ANY OTHER CHARGES' has a variable rate or no default rate
            attachEvents(tdsField, 0.015);
        });

    </script>
    

{% endblock %}