{% extends "base.html" %}


{% block title %} {{title}} {% endblock title %}


{% block content %}

    <div style="color:#575757; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">{{title}}</div> 
    
    <br><!-- Log on to codeastro.com for more projects -->
    
    <form method="post">
    
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            {{ form.category.errors }}
            <label for="{{ form.category.id_for_label }}">Category:</label>
            {{ form.category }}
        </div> 
        <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group ">
            {{ form.placed_at.errors }}
            <label for="{{ form.placed_at.id_for_label }}">Placed At:</label>
            {{ form.placed_at }}
        </div>
        <div class="form-group ">
            {{ form.quantity.errors }}
            <label for="{{ form.price.id_for_label }}">Price per item:</label>
            {{ form.price }}
        </div>
        <div class="form-group ">
            {{ form.quantity.errors }}
            <label for="{{ form.quantity.id_for_label }}">Quantity:</label>
            {{ form.quantity }}
        </div>
        <div class="form-group">
            {{ form.unit.errors }}
            <label for="{{ form.unit.id_for_label }}">Unit:</label>
            {{ form.unit }}
        </div>
        {% comment %} <div class="form-group">
            {{ form.created_by.errors }}
            <label for="{{ form.created_by.id_for_label }}">Created By:</label>
            {{ form.created_by }}
        </div> {% endcomment %}

        <br><!-- Log on to codeastro.com for more projects -->

        <div class="align-middle">
            <button type="submit" class="btn btn-success">{{ savebtn }}</button>
            {% if title == "New Stock" %}
                <button type="reset" class="btn btn-danger" >Reset</button>
            {% endif %}
            {% if delbtn %}
            {% if user.is_staff %}
                <a href="{% url 'delete-stock' object.pk %}" class="btn  btn-danger"> Delete Stock </a>
            {% endif %}
            {% endif %}
            <a href="{% url 'inventory' %}" class="btn btn-secondary">Cancel</a>
        </div>
        
    </form><!-- Log on to codeastro.com for more projects -->

{% endblock content %}